
img {
    width:400px;
    height: 400px;
}

#Giphy{
    display:flex; flex-wrap: wrap;
}

:root {
    --primary-background-color: #E6DED4;
    --primary-text-color: #75372D;
    --primary-border-color: #DA828F;
    --primary-shadow-color: #703A44;
}

/* RESETS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */

/* GLOBAL CLASSES */

/* CUSTOM CLASSES */


header {
    margin: 10px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-background-color);
    border: #DA828F solid 2px;
    border-radius: 20px;
    box-shadow: 0px 20px 20px var(--primary-shadow-color);
}

a {
    color: var(--primary-text-color);
    padding: 15px;
    text-decoration: none;
}

a:hover {
    color: var(--primary-border-color);
    text-decoration: underline;
}

/* footer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* RESPONSIVE STYLES */

