
#Giphy{
    display:flex; flex-wrap: wrap;
}

#Giphy img {
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 115px;
}

:root {
    --primary-background-color: #E6DED4;
    --primary-text-color: #75372D;
    --primary-border-color: #DA828F;
    --primary-shadow-color: #703A44;
}

.special {
    padding: 15px 25px;
    background-color: var(--primary-background-color);
    border: #DA828F solid 2px;
    box-shadow: 0px 20px 20px var(--primary-shadow-color);
}

h1, h2, .navbar-end a{
    text-align: center;
    margin: 0px 40px;
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-text-color) !important;
}

li, p {
    color: var(--primary-text-color);
    padding: 5px;
}

.navbar-brand img {
    width: 80px;
    height: 80px;
}

.navbar-end a {
    background-color: var(--primary-background-color) !important;
    padding: 15px;
    text-decoration: none;
}

.navbar-end a:hover {
    color: var(--primary-border-color);
    text-decoration: underline;
}

.card {
    background-color: var(--primary-background-color);
    border: #DA828F solid 2px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px var(--primary-shadow-color);
}

.hide-me {
    display: none;
}

#about, #find, #info {
    margin: 50px 0px;
}

#info img{
    border: #DA828F solid 2px;
    border-radius: 10px;
    box-shadow: 0px 20px 20px var(--primary-shadow-color);
    width: 250px;
    height: 250px;
}
